:root {
  --sfgray:  #D3D3D3;
}

.jumbotron {
    background-image: url('../img/BANNER_L199_IMG_0293_long_400h.jpg');
    background-size: cover;
}

.figure-caption, .map-text {
    font-size: 120%;
    color: #000;
}

.navlogo {
    color: #aca81b;
    font-size: larger;
}

.socialmedia {
    height: 5vh;
    padding: 1vh;
}

.graygraphs {
    background-color: var(--sfgray);
}

/* Large devices (desktops, 992px and up) */
/* @media (max-width: 1200px) { 
    .jumbotron {
        background-image: url('../img/BANNER_L199_IMG_0293_long_400h_lg.jpg');
    }  
 } */


/* Medium devices (tablets, 768px and up) */
/* @media (max-width: 800px) { 
    .jumbotron {
        background-image: url('../img/BANNER_L199_IMG_0293_long_400h_md.jpg');
    } 
} */

/* Medium devices (tablets, 768px and up) */
/* @media (max-width: 500px) { 
    .jumbotron {
        background-image: url('../img/BANNER_L199_IMG_0293_long_400h_sm.jpg');
    } 
} */
